%div#weather_stations
  %table.table.table-striped
    %thead.thead-light
      %tr
        %th Location
        %th Rainfall Intensity (mm/hour)
        %th Temperature (Degree Celsius)
        %th Dew Point (Degree Celsius)
        %th Wind Speed (km/h)
        %th Wind Direction
        %th Time Read (UTC)
    %tbody
      %tr{ 'v-for': "weather_station in weather_stations" }
        %td {{ weather_station.name }}
        %td {{ weather_station.reading.rainfall_amount }}
        %td {{ weather_station.reading.temperature }}
        %td {{ weather_station.reading.dew_point }}
        %td {{ weather_station.reading.wind_speed }}
        %td {{ weather_station.reading.wind_direction }}
        %td {{ weather_station.reading.created_at }}

