%nav.navbar.navbar-light.bg-light
  %div.container-fluid
    %div.navbar-header
      %p.navbar-brand Weather Scraper
    %ul.nav.navbar-nav
      %span data obtained from (<a href='http://www.bom.gov.au/'>http://www.bom.gov.au/</a> banned my ip address):
      %span#link
        %a#id{':href' => 'link'} {{link}}
    %ul.nav.navbar-nav#url
      = label_tag "Choose state:"
      = select_tag "url", options_for_select(URL_TO_SCRAPE.map { |k,v| [k,v] }), { 'v-on:change' => 'changeData($event)' }
    %div#spinner
      %p status: {{loading}}
