<!DOCTYPE html>
<html>
  <head>
    <title>MelbourneWeather</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//j.wovn.io/1" data-wovnio="key=URmTqy" async></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
